/* CSS Styles */
html {
    background-color: bisque;
}

body {
    font: 1.2em / 1.5 system-ui;
}

h1 {
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(118, 0, 0);
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgb(118, 0, 0);
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

table {
    width:95%;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    table-layout: fixed;
    background-color: rgb(255, 219, 175);
}

th, td {
    border: 3px solid rgb(118, 0, 0);
    padding: 6px;
    text-align: center;
}

/* fixed column widths */
th:nth-child(1), td:nth-child(1) {
    width: 140px;
}

th:nth-child(2), td:nth-child(2) {
    width: 220px;
}

th:nth-child(3), td:nth-child(3) {
    width: 160px;
}

th:nth-child(4), td:nth-child(4) {
    width: 160px;
}

/* style empty cells */
td:empty {
    background-color: #f7f7f7;
}

td:empty {
    background-color: #f7f7f7;
}

p {
    width: 100%;
}

img {
    border-color:rgb(118, 0, 0);
    width: 300px;
    height: 300px;
    display: flex;
}

button {
    width: 100%;
    height: 38px;                 /* match checkbox height */
    border-color: rgb(118, 0, 0);
    background-color: rgb(255, 208, 151);
    font-size: medium;
    padding: 0 10px;              /* horizontal padding only */
    box-sizing: border-box;
}

a:any-link {
    color: rgb(118, 0, 0);
}

a:hover, a:focus {
    color: rgb(55, 0, 0);
    text-decoration: none;
}

form {
    background-color: rgb(255, 218, 172);
    width: 60%;
    border: 2px solid;
    padding: 16px;
    border-radius: 6px; 
    border-width: 3px;
    border-color: rgb(118, 0, 0);
}

input, textarea, select {
    background-color: bisque;
    border: 2px solid;
    border-color: rgb(118, 0, 0);
}


label {
    padding: 5px;
}



.button-group{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.item{
  display:flex;
  align-items:center;
  gap:10px;
}

/* Hide default checkbox */
.item input{
  display:none;
}

/* Custom checkbox */
.custom-box{
  width:38px;
  height:38px;
  background:white;
  border:2px solid black;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
}

.item input:checked + .custom-box{
  background: rgb(118, 0, 0);; 
}

.item input:checked + .custom-box::after{
  content:"";
  position:absolute;

  width:10px;
  height:18px;

  border:solid bisque; 
  border-width:0 4px 4px 0;

  top:7px;
  left:12px;

  transform:rotate(45deg);
}


#loadSpace {
    margin-top: 5%;
}

.helpWrapper {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}

#helpButton {
    width: 25%;
}
